html, body{
	margin: 0px;
	padding: 0px;
	font-family:Verdana;
	background-color:#FFFFFF;
}

main{
	margin-bottom: 100px;
}

header{
	display: none;
}
.formulariobusqueda label{
	display: block;
	float: left;
	width: 150px;
	padding-left: 10px;
}

.formularioregistro label {
	display: block;
	float: left;
	width: 200px;
	padding-left: 10px;
}


.botonsubmit{
	margin-left: 10px;
	margin-top: 10px;
}

.formulariobusqueda, .formularioregistro{
	width: 650px;
    margin: 0 auto;
    border: 3px solid black;
	border-radius: 25px;
    margin-top: 2%;
	padding: 10px;
}

.albumsolicitar{

	width: 90%;
    margin: 0 auto;
    border: 3px solid black;
	border-radius: 25px;
	padding: 10px;
}

.albumsolicitar label {
	display: block;
	float: left;
	width: 250px;
	padding-left: 10px;
}

#usuario{
	border-style:solid;
	border-color:rgb(40,40,40);
}

#contraseña{
	border-style:solid;
	border-color:rgb(40,40,40);
}

#entrar{
	font:Verdana, sanserifif;
	background-color: white;
	border-style: solid;
	border-color:rgb(40,40,40);
}

.enlacescabecera{
	display: inline-block;
	margin-right: 10px;
}


a {
	color: white;
}

footer{
  display: none;
}

main a{
	color:black;
}

.seccionfotos{
	    width: 1272px;
    margin: 0 auto;
}

.fotografia {
	width: 420px;
	margin: 0 auto;
	border: 3px solid black;
	border-radius: 25px;
}

.datosusuario{
	width: 300px;
	margin: 0 auto;
	border: 3px solid black;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	margin-top: 39px;
}

.confirmacion{
	width: 500px;
	margin: 0 auto;
	border: 3px solid black;
	border-radius: 25px;
}

img{
	margin: 10px;
}

.tabla{
	margin: 10px;
}

label[for="hombre"]{
	width: 85px;
}

label[for="color"]{
	width: 95px;
}

h2{
	padding-left: 90px;
}

table{
	padding-left: 90px;
}

p{
	padding-left: 90px;
}

input:focus{
	outline: 3px solid rgb(40,40,40);;
}
